#navbar{
	background-color: red;
	height:100px;
	margin-bottom: 20px;
}
#navbar1{
	background-color: yellow;
	height: 200px;
	margin-bottom: 40px;
}

#navbar2{background-color: green;
	height:150px;
	margin bottom: 60px;
}